<!-- [ Layout footer ] Start -->
<nav class="layout-footer footer bg-white">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">
            <div>
                <a href="https://orec.tamu.edu/" class="footer-link pt-3 ml-4">Texas A&M OREC</a>
                <a href="http://library.tamu.edu/about/compliance.html" class="footer-link pt-3 ml-4">Site
                    Policies</a>
                <a href="https://library.tamu.edu/services/accessibility.html" class="footer-link pt-3 ml-4">Accessibility</a>
            </div>
        </div>
        <div class="pt-3">
            <span class="footer-text font-weight-semibold"><a href="https://tamids.tamu.edu"
                                                              class="footer-link"
                                                              target="_blank">
                <img class="class=d-block ui-w-100" src="/static/portal/img/TAMIDS_logo.png"/></a></span>
        </div>
    </div>
</nav>
<!-- [ Layout footer ] End -->